@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fake-primary: #ffd500;
  --fake-secondary: #ebe0a8;
  --fake-black: #000000;
  --fake-black-100: #121212;
  --fake-white: #ffffff;
  --fake-error: #ff0000;
  --fake-warning: #ffd500;
  --fake-success: #00ff00;
  --fake-shadow_sm: #0000001a;
  --fake-shadow_md: #00000033;
  --fake-transparent: #00000000;

  --fake-spacing-4pt5: 1.125rem;
  --fake-spacing-5pt5: 1.375rem;
  --fake-spacing-6pt5: 1.625rem;
  --fake-spacing-7pt5: 1.875rem;

  --fake-font-light: 300;
  --fake-font-regular: 400;
  --fake-font-medium: 500;
  --fake-font-semibold: 600;
  --fake-font-bold: 700;

  --fake-text-h1: 3rem;
  --fake-text-h2: 2.25rem;
  --fake-text-h3: 1.75rem;
  --fake-text-h4: 1.5rem;
  --fake-text-h5: 1.25rem;
  --fake-text-h6: 1.125rem;
  --fake-text-p: 1rem;

  --fake-shadow-sm: 0px 0px 2px 2px #0000001a;
  --fake-shadow-md: 0px 0px 8px 3px #00000033;
  --fake-shadow-lg: 0px 0px 12px 6px #00000033;

  --gutter-x: 24px;
}

@layer base {
  h1,
  .h1 {
    &:not(.ttl) {
      @apply text-h1;
    }
  }

  h2,
  .h2 {
    &:not(.ttl) {
      @apply text-h2;
    }
  }

  h3,
  .h3 {
    &:not(.ttl) {
      @apply text-h3;
    }
  }

  h4,
  .h4 {
    &:not(.ttl) {
      @apply text-h4;
    }
  }

  h5,
  .h5 {
    &:not(.ttl) {
      @apply text-h5;
    }
  }

  h6,
  .h6 {
    &:not(.ttl) {
      @apply text-h6;
    }
  }

  p,
  .p {
    &:not(.para) {
      @apply text-p;
    }
  }
}

@layer components {
  .container {
    @apply sm:max-w-[540px] md:max-w-[720px] 
    lg:max-w-[960px] xl:max-w-[1080px] 
    xxl:max-w-[1260px] xxxl:max-w-[1403px];
  }

  //buttons
  .btn-primary {
    @apply bg-primary border border-primary text-white px-[1.25rem] py-[0.625rem];
  }
  .btn-secondary {
    @apply bg-secondary border border-secondary text-white px-[1.25rem] py-[0.625rem];
  }
  .btn-black {
    @apply bg-black border border-black text-white px-[1.25rem] py-[0.625rem];
  }
  .btn-outline-black {
    @apply border border-black text-black px-[1.25rem] py-[0.625rem];
  }
}

@layer utilities {
}

body {
  background: var(--fake-black);
  color: var(--fake-white);
}
